html, body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;
}

.calcite-theme-light,
.calcite-theme-dark,
.calcite-theme-app {
  --calcite-ui-info: #87d692;;
  --calcite-ui-brand: #50ba5f;
  --calcite-ui-brand-hover: #a2e4ab;
  --calcite-ui-brand-press: #288835;
}

.esri-widget,
.esri-widget__heading,
.esri-widget--button,
.esri-menu,
.esri-popup__button,
.esri-popup__main-container,
.esri-popup__header-container--button:hover,
.esri-popup__pointer-direction,
.esri-button {
  background-color: var(--calcite-ui-foreground-1) !important;
  color: var(--calcite-ui-text-2) !important;
}

.esri-legend {
  width: unset !important;
}

.toggle-panel[hidden] {
  display: none;
}

header[slot="header"] {
  z-index: 99;
  padding: 0 1rem 0 1rem;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.application-title {
  color: var(--calcite-ui-brand);
}

calcite-loader#app-loader {
  align-self: center;
  justify-self: center;
  /*z-index: 1000;*/
  /*top: calc(50vh - 112px) !important;*/
}

.esri-ui-corner calcite-loader {
  pointer-events: none;
  padding: 0;
  right: 15px;
}


calcite-panel > div[slot="header-actions-end"] {
  display: inline-flex;
}

calcite-notice {
  z-index: 101;
}

#center-container {
  flex-grow: 1;
  flex-shrink: 1;
  min-width: 0;
  min-height: 0;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

#view-container {
  flex-grow: 1;
  flex-shrink: 1;
  min-width: 0;
  min-height: 0;
  display: flex;
  flex-direction: column;
}

#bottom-container {

}

#histogram-container {
  flex-grow: 1;
  flex-shrink: 1;
  min-width: 0;
  min-height: 0;
  width: auto;
  margin: 25px 50px 25px 50px;
  --calcite-ui-foreground-1: transparent;
}

calcite-tile-select {
  cursor: pointer;
}

.tree-thumbnail {
  pointer-events: none;
}

.esri-histogram-range-slider__range-type--between .esri-slider__segment-1 {
  background-color: var(--calcite-ui-brand-press);
}

.esri-slider__thumb {
  border: 2px solid var(--calcite-ui-brand);
}

.esri-histogram-range-slider .esri-slider--horizontal .esri-slider__max,
.esri-histogram-range-slider .esri-slider--horizontal .esri-slider__min {
  min-width: unset !important;
}

.details-label {
  padding-left: 2rem;
}

.details-label > calcite-label > div:nth-child(2) {
  color: var(--calcite-ui-brand);
  font-weight: bold;
}

calcite-shell-center-row[height-scale="m"] {
  height: 50%;
}
